<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SpaceX</title>
</head>
<body>
    <h2 style="text-align:center;"><u>SpaceX Future Launch Information</u></h2>
    <h2 style="text-align:left;"><u>Please Enter the appropriate Details</u></h2>
    <form action="" method = 'POST'>
        {% csrf_token %}
        {{form}}
        <button type="submit">Submit</button>
    </form>
</body>
</html>